*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Style  */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}




/* Shared Style  */
.section-width{
    max-width: 1140px;
    margin: auto;
    margin-top: 90px;
}
:root{
    --primary-color: #0D1321;
}
.primary-btn{
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.8);
    padding: 17px 24px;
    border: 1px solid rgba(13, 19, 33, 0.8);
    border-radius: 8px;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 0.8);
}
.section-header{
    text-align: center;
    max-width: 852px;
    margin-bottom: 48px;
}
.section-title{
    font-size: 32px;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 24px;
}


/* Navigation Section  */
nav{
    height: 131px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px !important;
}
nav h3{
    font-size: 28px;
    font-weight: 900;
    color: var(--primary-color);
}





/* Banner Section  */
.banner{
    max-width: 1440px;
    display: flex;
    height: 652px;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    background-image: url('../assets/Hero-bg.png');
}
.banner img{
    height: 240px;
    max-width: 240px;
}
.banner-title{
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-color);
    max-width: 998px;
}
.banner p{
    max-width: 852px;
}
.banner button{
    background-color: var(--primary-color);
    color: white;
}




/* Why Web Section  */
.why-web{
    height: 1393px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
}
.item-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item{
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* background-image:linear-gradient(to bottom, rgba(13, 19, 33, 0.4) ,rgba(13, 19, 33, 0.4)) */
}
.item-container .item:nth-child(even){
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.4) ,rgb(255, 255, 255))
}
.item-container .item:nth-child(odd){
    background-image:linear-gradient(to left, rgba(255, 255, 255, 0.4) ,rgb(255, 255, 255))
}
.item-title{
    font-size: 24px;
    font-weight: 800;
    color: rgba(13, 19, 33, 0.7);
    max-width: 390px;
    margin-bottom: 16px;
}
.item-details p{
    max-width: 468px;
}
.item img{
    max-width: 240px;
    height: 240px;
}
.item-btn{
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.8);
    padding: 12px 20px;
    border: 1px solid rgba(13, 19, 33, 0.8);
    margin-top: 32px;
}


/* Inspiration Section  */
.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 775px;
}
.video-container{
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
iframe{
    border-radius: 16px;
    max-width: 100%;
    width:1076px;
    height:550px
}



/* My Current Target  */
.current-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 460px;
}
.card-container{
    display: flex;
    align-items: center;
    gap: 24px;
}
.card{
    max-width: 364px;
    height: 299px;
    padding: 40px;
}
.card img{
    max-width: 64px;
    height: 64px;
}
.card h3{
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
    margin-top: 24px;
}
.card-descripton{
    margin-top: 8px;
    margin-bottom: 24px;
}
.card a,.items a{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 800;
}
.card-container div:nth-child(1){
    background-color: rgba(255, 76, 30, 0.05);
}
.card-container div:nth-child(2){
    background-color: rgba(0, 76, 232, 0.05);
}
.card-container div:nth-child(3){
    background-color: rgba(255, 223, 0, 0.05);
}


/* My Next Target  */
.next-target{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 866px;
    justify-content: center;
}
.item-containers{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.items{
    padding: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}
.items-title{
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-color);
}
.items img{
    max-width: 108px;
    height: 108px;
}
.item-details{
    margin-top: 8px;
    margin-bottom: 24px;
}



/* Support Section  */
.support{
    padding: 64px 48px;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to bottom, rgba(13, 19, 33, 0.4) ,rgba(13, 19, 33, 0.4)), url(../assets/handshake.jpg);
    background-size: cover;
    border-radius: 16px;
    background-position: center;
    margin-top: 50px;
}
.support-header{
    max-width: 730px;
    margin-bottom: 24px;
}
.support h3{
    color: #ffffff;
}
.support p{
    color: rgba(255, 255, 255, 0.9);
}
input[type="search"]{
    height: 57px;
    width: 548px;
    padding: 19px;
}
::placeholder{
    font-size: 16px;
    color: rgba(13, 19, 33, 0.4);
    font-weight: 600;
}



/* Footer Section  */
footer{
    max-width: 1440px;
    height: 100px;
    margin: auto;
    margin-top: 80px;
    background-color: rgba(13, 19, 33, 0.03);
}
.footer-content{
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-top: 32px;
}
.footer-social{
    display: flex;
    gap: 24px;
}
footer h4{
    font-size: 20px;
    font-weight: 600;
}
footer img{
    height: 36px;
    max-width: 36px;
}