*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Style  */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}




/* Shared Style  */
.section-width{
    max-width: 1140px;
    margin: auto;
}
:root{
    --primary-color: #0D1321;
}
.primary-btn{
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.8);
    padding: 17px 24px;
    border: 1px solid rgba(13, 19, 33, 0.8);
    border-radius: 8px;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 0.8);
}



/* Navigation Section  */
nav{
    height: 131px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h3{
    font-size: 28px;
    font-weight: 900;
    color: var(--primary-color);
}





/* Banner Section  */
.banner{
    max-width: 1440px;
    display: flex;
    height: 652px;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    background-image: url('../assets/Hero-bg.png');
}
.banner img{
    height: 240px;
    max-width: 240px;
}
.banner-title{
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-color);
    max-width: 998px;
}
.banner p{
    max-width: 852px;
}
.banner button{
    background-color: var(--primary-color);
    color: white;
}